body{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: LemonChiffon;
  text-align:center;
  padding: 0 2 em;
  color:red;
}

h4{
    ;
}

h6{
  color:red;
}

img{
  width: 50%;
  height: auto;
}

.cuisine {
  white-space: nowrap;
}

.map{

margin-bottom:
}
