body{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: LemonChiffon;
  text-align:center;
  padding: 0 2 em;
  color:red;
}

h4{
  color:red;
}

h6{
    color:#C1392B;
}


img{
  width: 50%;
  height: auto;
}

.cuisine {
  white-space: wrap;
}

.map{

margin-bottom;
}

A:link, A:visited {
  text-decoration: none;
  color:#C1392B;
}

A:active, A:hover {
  color: white;
  background:#C1392B;
}

hr
{
color: #C1392B;
background: #C1392B;
border: 3;
height: 4px;
}
